{% extends 'base.html' %}
{% load book_tags %}

{% block title %}Django Books{% endblock %}

{% block content %}
    <div class="level">
        <div class="level-left is-four-fifths">
            <h2 class="title">Django Books</h2>
        </div>
    </div>

	{% if django_book_list %}
	<div class="table-container"> 
		<table class="table is-bordered is-hoverable is-fullwidth">
			<thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Publisher</th>
					<th>Publication Date</th>
					<th align="center">
						<span class="icon has-text-danger">
							<i class="fas fa-trash"></i>
						</span>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for book in django_book_list %}
				<tr>
					<td><a>{{ book.id }}</a></td>
					<td>{{ book.title }}</td>
					<td>{{ book.publisher }}</td>
					<td>{{ book.publication_date | date:"D d M Y" }}</td>
					<td align="center">
						<span class="icon has-text-danger">
							<i class="fas fa-trash"></i>
						</span>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% else %}
		{% include "includes/components/alert.html" with type="info" title="Information" message="There are no Django Books" %}
	{% endif %}
{% endblock content %}