{% extends 'base.html' %}

{% block title %}Publishers{% endblock %}

{% block content %}
  <div class="level">
		<div class="level-left is-four-fifths">
			<h2 class="title">Publishers</h2>
		</div>
		<div class="level-right">
			<input type="button" class="button is-white" value="New">
		</div>
	</div>

    {% if publishers %}
    <div class="table-container"> 
      <table class="table is-bordered is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Adress</th>
            <th>City</th>
            <th>State Province</th>
            <th>Country</th>
            <th>Web site</th>
            <th>Books</th>
            <th align="center">
              <span class="icon has-text-danger">
                <i class="fas fa-trash"></i>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for publisher in publishers %}
          <tr>
            <td><a title="Editar" href="{% url 'books:publisher-detail' publisher.id %}">{{ publisher.id }}</a></td>
            <td>{{ publisher.name }}</td>
            <td>{{ publisher.address }}</td>
            <td>{{ publisher.city }}</td>
            <td>{{ publisher.state_province }}</td>
            <td>{{ publisher.country }}</td>
            <td>
            {% if publisher.website %}
            <a href="{{ publisher.website }}" target="_blank">{{ publisher.website }}</a>
            {% endif %}
            </td>
            <td>
              <a href="{% url 'books:book-publishers' publisher.name %}" class="tag is-primary">Books</a>
            </td>
            <td align="center">
              <span class="icon has-text-danger">
                <i class="fas fa-trash"></i>
              </span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
     </div>
    {% else %}
      {% include "includes/components/alert.html" with type="info" title="Information" message="There are no Publishers" %}
    {% endif %}
{% endblock content %}



