{% extends 'account/base.html' %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="has-background-primary columns is-vcentered">
  <div class="column is-8 content-left"> 
    <div class="is-vertical-center">
      <a class="button is-primary is-outlined" href="{% url 'home' %}">Go back</a>
    </div>
  </div>
  <div class="column is-4">
    <section class="section">
      <div class="has-text-centered">
        <img src="{% static 'images/logos/django.svg' %}" >
        <h1 class="title is-4 has-text-white">Log in with your account</h1>
      </div>

      <hr />

      <form action="" method="POST">
        {% csrf_token %}

        <div class="field">
          <label class="label">{{ form.username.label_tag }}</label>
          <div class="control has-icons-right">
            <input 
              class="input" 
              name="{{ form.username.name }}"  
              type="text" 
              value="{{ form.username.value|default_if_none:'' }}"
              placeholder="Username or Email"
              required
            />
            <span class="icon is-small is-right">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>
  
        <div class="field">
          <label class="label">{{ form.password.label_tag }}</label>
          <div class="control has-icons-right">
            <input 
              class="input" 
              type="password" 
              name="{{ form.password.name }}"
              placeholder="Password"
              required
            />
            <span class="icon is-small is-right">
              <i class="fa fa-key"></i>
            </span>
          </div>
        </div>
        
        <div class="has-text-centered">
          <input type="submit" class="button is-vcentered is-white" value="Login">
        </div>
      </form>
      
      <div class="has-text-centered">
        <a class="has-text-white" href="{% url 'account:password_reset' %}"> Don't you have an account? Sign up now!</a>
        <a class="button is-facebook is-rounded" href="{% url 'social:begin' 'facebook' %}" >
          <span class="icon">
            <i class="fab fa-facebook"></i>
          </span>
          <span>Facebook</span>
        </a>
        <a class="button is-twitter is-rounded" href="{% url 'social:begin' 'twitter' %}">
          <span class="icon">
            <i class="fab fa-twitter"></i>
          </span>
          <span>Twitter</span>
        </a>
        <a class="button is-google is-rounded" href="{% url 'social:begin' 'google-oauth2' %}">
          <span class="icon">
            <i class="fab fa-google"></i>
          </span>
          <span>Google</span>
        </a>
      </div>
    </section>
  </div>
</div>
{% endblock %}