{% extends 'account/base.html' %}
{% load static %}

{% block title %}Password reset email{% endblock %}

{% block content %}
<div class="has-background-white columns is-vcentered">
  <div class="column is-12">
    <div class="is-vertical-center">
      <article class="message is-primary">
        <div class="message-header">
          <p>Password reset email</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          Someone asked for password reset for email {{ email }}. Follow thelink below:
          
          <a href="{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}">
            <strong>Click here</strong>
          </a>

          Your username, in case you've forgotten: {{ user.get_username }}
        </div>
      </article>
    </div>
  </div>
</div>
{% endblock %}