{% extends 'account/base.html' %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="has-background-white columns is-vcentered">
  <div class="column is-12">
    <div class="is-vertical-center">
      <article class="message is-primary">
        <div class="message-header">
          <p>Reset your password</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          <p>We've emailed you instructions for setting your password.</p>
          <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>

          <br>
          <a class="button is-primary is-small" href="{% url 'home' %}"><strong>Go back</strong></a>
        </div>
      </article>
    </div>
  </div>
</div>
{% endblock %}
