{% extends 'account/base.html' %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="has-background-white columns is-vcentered">
  <div class="column is-12">
    <div class="is-vertical-center">
      <article class="message is-primary">
        <div class="message-header">
          <p>Password reset complete</p>
        </div>
        <div class="message-body">
          <p>Your password has been set. You can</p>
          <br>
          
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-white is-small" href="{% url 'home' %}">Go back</a>
            </p>
           
            <p class="control">
              <a class="button is-primary is-small" href="{{ login_url }}">Login</a>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
{% endblock %}
