{% extends 'account/base.html' %}
{% load static %}

{% block title %}Password change{% endblock %}

{% block content %}
<div class="has-background-primary columns is-vcentered">
  <div class="column is-8 content-left"> 
    <div class="is-vertical-center">
      <a class="button is-primary is-outlined" href="{% url 'home' %}">Go back</a>
    </div>
  </div>
  <div class="column is-4">
    <section class="section">
      <div class="has-text-centered">
        <img src="{% static 'images/logos/django.svg' %}">
        <h1 class="title is-4 has-text-white">Reset your password</h1>
      </div>     

      <hr>

      <form action="" method="POST">
        {% csrf_token %}

        <div class="field">
          <label class="label">{{ form.new_password1.label_tag }}</label>
          <div class="control has-icons-right">
            <input 
              class="input" 
              name="{{ form.new_password1.name }}"  
              type="password" 
              placeholder="New password"
              required
            />
            <span class="icon is-small is-right">
              <i class="fa fa-key"></i>
            </span>
          </div>
          {% if form.new_password1.errors %}
            {% for error in form.new_password1.errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>

        <div class="field">
          <label class="label">{{ form.new_password2.label_tag }}</label>
          <div class="control has-icons-right">
            <input 
              class="input" 
              name="{{ form.new_password2.name }}"  
              type="password" 
              placeholder="Confirm password"
              required
            />
            <span class="icon is-small is-right">
              <i class="fa fa-key"></i>
            </span>
          </div>
          {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>

        <div class="has-text-centered">
          <input type="submit" class="button is-vcentered is-white" value="Change password">
        </div>
      </form>
    
    </section>
  </div>
</div>
{% endblock %}