{% extends 'account/base.html' %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="has-background-white columns is-vcentered">
  <div class="column is-12"> 
    <div class="is-vertical-center">
      <article class="message is-primary">
        <div class="message-header">
          <p>Password changed</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          Your password has been successfully changed.
          <a class="is-primary" href="{% url 'home' %}"><strong>Go back</strong></a>
        </div>
      </article>
    </div>
  </div>
</div>
{% endblock %}