{% extends "base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1 class="title">{{ post.title }}</h1>
  <hr>
  <p class="subtitle">Published {{ post.publish }} by {{ post.author }}</p>

  <div class="content">
  {{ post.body|markdown }}
  </div>

  <a href="{% url 'blog:post_share' post.id %}">Share this post</a>

  <br>

  <div class="tags">
  {% with comments.count as total_comments %}
    <div class="tag is-primary">{{ total_comments }} comment{{ total_comments|pluralize }}</div>
  {% endwith %}
  </div>

  {% if similar_posts %}  
    <h4 class="subtitle is-4">Similar posts</h4>
    {% for post in similar_posts %}
    <p>
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </p>
    {% endfor %}
    <br>
  {% endif %}

  {% if comments %}
    <h4 class="subtitle is-4">Comments</h4>
    {% for comment in comments %}
      {% include "blog/includes/comments.html" with comment=comment %}
    {% endfor %}
  {% endif %}

  <br>

  {% if new_comment %}
    {% include "includes/components/alert.html" with type="success" title="Success" message="Your comment has been added." %}
  {% else %}

  <h1 class="subtitle is-4">Add a new comment</h1>

  <article class="media">
    <div class="media-content">
      <form method="post">
        {% csrf_token %}
        <div class="columns">
          <div class="column">
            <label class="label">{{ comment_form.name.label_tag }}</label>
            <input type="text" class="input" name="{{ comment_form.name.name }}" placeholder="Name"/>
          </div>
          <div class="column">
            <label class="label">{{ comment_form.email.label_tag }}</label>
            <input type="email" class="input" name="{{ comment_form.email.name }}" placeholder="E-mail"/>
          </div>
        </div>
    
        <div class="columns">
          <div class="column">
            <label class="label">{{ comment_form.body.label_tag }}</label>
            <textarea class="textarea" name="{{ comment_form.body.name }}" placeholder="Add a comment..."></textarea>
          </div>
        </div>
    
        <input type="submit" class="button is-link" value="Add comment">
      </form>
    </div>
  </article>
  {% endif %}

{% endblock %}