{% load static %}
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="#" class="navbar-item" style="background-color: #3273dc;">
      <img src="{% static 'images/logos/django.svg' %}" width="112" height="28">
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-example">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-example" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item is-tab">Home</a>
      <a class="navbar-item is-tab ">Features</a>
      <a class="navbar-item is-tab">Documentation</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-info">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>