{% load blog_tags %}

<aside class="sidebar">
  <div>
    <nav class="menu">
    {% if app_name != "" %}
    <div class="menu-category">
      <a href="{% url 'home' %}" class="button is-link is-small" style="display: inherit;">Go back</a>
    </div>
    {% endif %}
    
    {% if app_name == "" %}
    <div class="menu-category">
      <header class="category-header">Applications</header>
      <ul class="menu-list">
        <li><a href="{% url 'books:books-list' %}">Books</a></li>
        <li><a href="{% url 'blog:post-list' %}">Blog</a></li>
      </ul>
    </div>
    {% elif app_name == "books" %}
    <div class="menu-category">
      <header class="category-header">Books</header>
      <ul class="menu-list">
        <li><a href="{% url 'books:books-list' %}">List</a></li>
        <li><a href="{% url 'books:publishers-list' %}">Publishers</a></li>
      </ul>
    </div>
    <div class="menu-category">
      <header class="category-header">Authors</header>
      <ul class="menu-list">
        <li><a href="{% url 'books:authors-list' %}">List</a></li>
      </ul>
    </div>
    {% elif app_name == "blog" %}
    <div class="menu-category">
      <header class="category-header">Blog</header>
      <ul class="menu-list">
        <li><a href="{% url 'blog:post-list' %}">List</a></li>
      </ul>
    </div>
    {% show_latest_posts 3 %}
    {% get_most_commented_posts 3 %}
    {% endif %}
  </nav>
  </div>
</aside>