{% load thumbnail %}
{% with user=action.user profile=action.user.profile %}
<div class="box">
  <article class="media">
    {% if profile.photo %}
    {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
    <div class="media-left">
      <a href="{{ user.get_absolute_url }}">
        <figure class="image is-64x64">
          <img src="{{ im.url }}" alt="{{ user.get_full_name }}" class="item-img">
        </figure>
      </a>
    </div>
    {% endif %}

    <div class="media-left">
    {% if action.target %}
      {% with target=action.target %}
      {% if target.image %}
        {% thumbnail target.image "80x80" crop="100%" as im %}
        <a href="{{ target.get_absolute_url }}">
          <img src="{{ im.url }}" class="item-img">
        </a>
      {% endif %}
      {% endwith %}
    {% endif %}
    </div>
    
    <div class="media-content">
      <p>
        <span class="tag is-info is-light">{{ action.created|timesince }} ago</span>
        <br />
        <a href="{{ user.get_absolute_url }}">{{ user.first_name }}</a> {{ action.verb }}
        {% if action.target %}
          {% with target=action.target %}
          <a href="{{ target.get_absolute_url }}">{{ target }}</a>
          {% endwith %}
        {% endif %}
      </p>
    </div>
  </article>
</div>
{% endwith %}